<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
  </head>

  <body>

    <%- include('partials/_header') %>
    <form method="POST" action='/login'>
      <div class="">
        <label for="email">Email : </label>
        <input class="" type="email" name="email" placeholder="Enter your Email Id:" style="width: 300px; margin: 1em">
        <label for="password">Password : </label>
        <input class="" type="password" name="password" placeholder="Enter your Password:" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>



  </body>
</html>